input,
label {
  font-family: monospace
}

.link,
.navbar,
.subnavbar {
  -webkit-box-sizing: border-box
}

.navbar .title,
a,
h3 {
  text-shadow: none
}

.link,
.navbar,
.navbar .left,
.navbar .right,
button.ui-btn {
  -webkit-transform: translate3d(0, 0, 0)
}

.card>a>span,
.navbar .title,
label {
  text-overflow: ellipsis;
  white-space: nowrap
}

.card>a>span,
.navbar .title,
.overflow-nowrap,
label {
  white-space: nowrap
}

.card,
.card>a>span,
.navbar,
.subnavbar,
a,
body,
button.ui-btn {
  color: #fff
}

body {
  background-color: #30495e
}

label,
li,
p {
  font-size: 18px;
  line-height: 25px;
  word-spacing: 5px
}

#output,
.navbar,
input {
  font-size: 20px
}

label {
  overflow: hidden
}

a {
  text-decoration: none;
  font-weight: 400;
  outline: none
}

.navbar,
.navbar-inner {
  left: 0;
  top: 0;
  width: 100%
}

.link,
.navbar {
  position: relative
}

.navbar .left,
.navbar .right,
.navbar .title {
  position: relative;
  z-index: 1
}

.navbar .title {
  position: relative;
  overflow: hidden;
  -webkit-flex-shrink: 10;
  -ms-flex-negative: 10;
  flex-shrink: 10;
  display: inline-block;
  font-weight: 500;
  margin: 0 16px;
  line-height: 1.2;
  text-align: left
}

.center,
button.ui-btn {
  text-align: center
}

.navbar .left,
.navbar .right {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transform: translate3d(0, 0, 0)
}

.navbar .right:first-child {
  position: absolute;
  height: 100%;
  right: 16px
}

.navbar:after,
.searchbar:after,
.subnavbar:after {
  content: '';
  right: 0;
  bottom: auto
}

.navbar-inner {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: visible;
  -webkit-box-sizing: border-box
}

.navbar,
a.link {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0)
}

.navbar {
  background-color: #3c5b75;
  height: 56px;
  z-index: 500;
  backface-visibility: hidden;
  margin: 0;
  position: fixed
}

.navbar:after,
.subnavbar,
.subnavbar:after {
  width: 100%;
  position: absolute
}

.navbar:after {
  top: 100%;
  height: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), color-stop(40%, rgba(0, 0, 0, .1)), color-stop(50%, rgba(0, 0, 0, .05)), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%)
}

.material-icons {
  color: #fff;
  outline: 0
}

a.link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  z-index: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 16px;
  min-width: 48px;
  height: 56px;
  line-height: 56px
}

.row,
.subnavbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox
}

.navbar .right {
  margin-left: auto
}

.page-with-subnavbar .ui-content {
  padding-top: 105px
}

.subnavbar:after {
  pointer-events: none;
  top: 100%;
  height: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), color-stop(40%, rgba(0, 0, 0, .1)), color-stop(50%, rgba(0, 0, 0, .05)), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%)
}

.subnavbar {
  left: 0;
  top: 100%;
  z-index: 500;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px
}

.row {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}

.row>.col,
.row>[class*=col-] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.row .col {
  width: 50%
}

@media screen and (min-width:500px) and (max-width:800px) {
  .row .col {
    width: 33.333333333333336%
  }
}

@media screen and (min-width:801px) {
  .row .col {
    width: 25%
  }
}

.row>.col>.card {
  margin: 4px
}

.row .col-50 {
  width: calc(50% - 4px)
}

.row .col-25 {
  width: calc(25% - 4px)
}

.card+.row {
  margin-top: -8px
}

.row+.card {
  margin-top: 0
}

.row .button {
  margin-top: 8px
}

.card {
  position: relative;
  background: #3c5b75;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  padding: 16px;
  margin: 8px 0
}

.card>a>img {
  width: 40px
}

.card>a>span {
  display: block;
  overflow: hidden;
  width: 100%;
  font-weight: 400
}

.card>p:first-child {
  margin: 0
}

.card .ui-input-text {
  border: 0;
  margin-bottom: -10px
}

.card label {
  margin-top: -10px
}

.card>.ui-listview>li.ui-first-child>a.ui-btn {
  border-top: none
}

.card>.ui-listview>li.ui-last-child>a.ui-btn {
  border-bottom: none
}

.overflow,
.overflow-nowrap {
  overflow: auto
}

button.ui-btn {
  background-color: #3c5b75;
  border-radius: 2px;
  line-height: 36px;
  height: 36px;
  margin: 0;
  padding: 0 10px;
  border: none;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  transform: translate3d(0, 0, 0) text-shadow:none;
  outline: 0;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}

button.ui-btn:after {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%
}

button.ui-btn:active {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.searchbar-backdrop {
  pointer-events: none;
  -webkit-transition-duration: .3s;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  transition-duration: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.searchbar,
.searchbar-backdrop,
.searchbar-inner {
  left: 0;
  top: 0;
  position: absolute
}

.searchbar {
  width: 100%;
  position: relative
}

.searchbar .searchbar-input-wrap {
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  position: relative
}

.searchbar-inner {
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.searchbar-disable-button {
  cursor: pointer;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 0 0;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  opacity: 0
}

.searchbar-icon {
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat
}

.searchbar-backdrop.searchbar-backdrop-in {
  opacity: 1;
  pointer-events: auto
}

.ui-content>.searchbar-backdrop {
  position: fixed
}

.searchbar {
  height: 48px;
  background: #fff;
  z-index: 510
}

.searchbar .ui-input-text {
  top: -10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 20px;
  color: #000;
  font-weight: 400
}

.searchbar-backdrop {
  background: rgba(0, 0, 0, .25)
}

.searchbar-disable-button,
.searchbar-icon {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 8px;
  top: 50%;
  margin-top: -24px;
  background-size: 24px 24px;
  -webkit-transition-duration: .3s;
  transition-duration: .3s
}

.searchbar-disable-button .material-icons,
.searchbar-icon .material-icons {
  padding-top: 11px;
  padding-left: 11px
}

.searchbar-enabled.searchbar-disable-button {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  pointer-events: auto;
  opacity: 1
}

.searchbar-enabled.searchbar-icon {
  opacity: 0;
  -webkit-transform: rotate(90deg) scale(.5);
  transform: rotate(90deg) scale(.5)
}

.searchbar:after {
  position: absolute;
  pointer-events: none;
  width: 100%;
  top: 100%;
  height: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), color-stop(40%, rgba(0, 0, 0, .1)), color-stop(50%, rgba(0, 0, 0, .05)), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%)
}

.subnavbar .searchbar .ui-input-text {
  padding-left: 54px;
  background-color: #323232;
  color: #fff
}

.no-text {
  font-size: 0
}

#reactivity_series .value td {
  border-top: 2px solid #fff;
  padding-right: 30px;
  padding-top: 10px
}

#reactivity_series .value td:after {
  content: "|";
  position: relative;
  top: -27px;
  left: -30px
}

#reactivity_series .element td {
  padding-right: 30px;
  padding-bottom: 10px
}

.ui-selectmenu .ui-selectmenu-list li .ui-btn.ui-btn-active {
  color: #e91e63
}