body {
  background-color: #282828;
  color: #ffffff
}

input {
  outline: none;
  font-family: monospace;
  font-size: 20px;
}

label {
  font-family: monospace;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

label, li, p {
  font-size: 18px;
  line-height: 25px;
  word-spacing: 5px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  outline: none;
}

.overflow {
  overflow: auto;
  white-space: nowrap
}

.center {
  text-align: center;
}

.link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 16px;
  min-width: 48px;
  height: 56px;
  line-height: 56px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
}

.link i {
  color: #ffffff
}

.navbar .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  position: relative;
  -webkit-flex-shrink: 10;
  -ms-flex-negative: 10;
  flex-shrink: 10;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  margin: 0 16px;
  line-height: 1.2;
  text-align: left;
}

.navbar .left, .navbar .right {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  z-index: 1;
}

.navbar .right {
  margin-left: auto
}

.navbar .right:first-child {
  position: absolute;
  height: 100%;
  right: 16px
}

.navbar-inner {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: visible;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%
}

.navbar {
  height: 56px;
  color: #fff;
  z-index: 500;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  transform: translate3d(0, 0, 0);
  position: fixed;
  background: #282828;
  -webkit-box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  left: 0;
  top: 0;
  width: 100%
}

.navbar:after {
  content: '';
  position: absolute;
  right: 0;
  width: 100%;
  top: 100%;
  bottom: auto;
  height: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), color-stop(40%, rgba(0, 0, 0, .1)), color-stop(50%, rgba(0, 0, 0, .05)), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%)
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}

.main-row {
  margin: 4px -4px
}

.col {
  width: 50%
}

@media screen and (min-width:500px) and (max-width:800px) {
  .col {
    width: 33.333333333333336%
  }
}

@media screen and (min-width:801px) {
  .col {
    width: 25%
  }
}

.col > .card {
  margin: 4px
}

.col, [class*=col-] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.col-70 {
  width: calc(70% - 4px)
}

.col-50 {
  width: calc(50% - 4px)
}

.col-30 {
  width: calc(30% - 4px)
}

.col-25 {
  width: calc(25% - 4px)
}

.card+.row {
  margin-top: -8px
}

.row+.card {
  margin-top: 0
}

.row button.ui-btn,
.row+button.ui-btn:not(.calculus-btn) {
  margin-top: 8px
}

.card {
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  padding: 16px;
  margin: 8px 0;
  background-color: #303030;
  color: #ffffff;
}

.card > p:first-child {
  margin: 0
}

.card .ui-input-text {
  border: 0;
  margin-bottom: -10px;
  margin-top: -10px
}

.card label {
  margin-top: -10px
}

.card label + .ui-input-text {
  margin-top: 0
}

.card > a > img {
  width: 40px
}

.card > a > span {
  display: block;
  overflow: hidden;
  width: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ffffff
}

.card > .ui-listview > li.ui-first-child > a.ui-btn {
  border-top: none
}

.card > .ui-listview > li.ui-last-child > a.ui-btn {
  border-bottom: none
}

button.ui-btn {
  border-radius: 2px;
  line-height: 36px;
  height: 36px;
  margin: 0;
  padding: 0 10px;
  border: none;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-shadow:none;
  background-color: #303030;
  color: #fff;
  outline: 0;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}

button.ui-btn:after {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%
}

button.ui-btn:active {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.no-text {
  font-size: 0
}

#reactivity_series {
  display: none;
}

#reactivity_series .value td {
  border-top: 2px solid #fff;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 18px;
}

#reactivity_series .value td:after {
  content: "|";
  position: relative;
  top: -24px;
  left: -25px
}

#reactivity_series .element td {
  padding-right: 30px;
  padding-bottom: 10px;
  font-size: 18px;
  white-space: nowrap;
}

.ui-selectmenu .ui-selectmenu-list li .ui-btn.ui-btn-active {
  color: #e91e63
}

#osearch, #ocalc {
  font-size: 20px
}

#ocalc {
  text-align: center;
}