.note {
  height: 20px;
  width: 20px;
  display: inline-block
}

.W:after {
  color: #FF00D0;
  content: 'W';
}

.A:after {
  color: #1795F4;
  content: 'A'
}

.w:after {
  color: #f44336;
  content: 'w'
}

.a:after {
  color: #ff9800;
  content: 'a'
}

.I:after {
  color: #4caf50;
  content: 'I'
}

.d:after {
  color: #ffeb3b;
  content: 'd'
}

.none:after {
  color: #fff;
  content: '-'
}

.fix-column {
  float: left
}

.thead {
  height: 50px;
  white-space: nowrap
}

.thead>span, .trow>span {
  display: inline-block;
  width: 70px;
  text-align: center;
  border: 1px solid #808080;
  line-height: 50px;
  height: 50px;
  font-size: 18px;
}

.trow {
  white-space: nowrap
}

.tbody {
  height: 450px;
  overflow: auto
}

.fix-column>.tbody {
  overflow: hidden
}

.fix-column>.tbody>.trow {
  margin-top: -50px;
  margin-bottom: 50px
}

.fix-column>.tbody>.trow:first-child {
  margin-top: 0
}

.rest-columns>.thead {
  overflow: hidden
}

.rest-columns>.thead>span {
  margin-right: 50px;
  margin-left: -50px;
}

.rest-columns>.thead>:first-child {
  margin-left: 0
}