<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sinh.chai" version="1.1.5" versionCode="115" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Chai</name>
  <author email="sinhtrngvn123@gmail.com" href="https://sinhtruong.com">
    Sinh Truong
  </author>
  <decription>
  	Collection of chemical tools
  </decription>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <allow-intent href="market:*"/>
  <preference name="android-minSdkVersion" value="19" />
  <preference name="android-targetSdkVersion" value="26" />
  <preference name="android-installLocation" value="auto" />
  <preference name="SplashMaintainAspectRatio" value="true"/>
  <preference name="ShowSplashScreenSpinner" value="false" />
  <preference name="StatusBarOverlaysWebView" value="false" />
  <plugin name="cordova-plugin-splashscreen" source="npm" />
  <plugin name="cordova-plugin-statusbar" source="npm" />
  <plugin name="cordova-plugin-inappbrowser" source="npm" />
  <platform name="android">
    <icon density="ldpi" src="res/icon/android/ldpi.png" />
    <icon density="mdpi" src="res/icon/android/mdpi.png" />
    <icon density="hdpi" src="res/icon/android/hdpi.png" />
    <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
    <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
    <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
    <splash density="ldpi" src="res/screen/android/splash-port-ldpi.png" />
    <splash density="mdpi" src="res/screen/android/splash-port-mdpi.png" />
    <splash density="hdpi" src="res/screen/android/splash-port-hdpi.png" />
    <splash density="xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
    <splash density="xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
    <splash density="xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />
  </platform>
</widget>